h1 {
	font-family: "Raleway", sans-serif;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
header {
	background: #7200EA;
	padding: 20px 15px 20px 15px;
}
nav {
	padding: 20px 0px 20px 0px;
	margin: 0 auto;
	background: rgba(114, 0, 234, 1);
	background: -webkit-linear-gradient(left top, rgba(0,0,0,0), rgba(114, 0, 234, 1)); 
  	background: -o-linear-gradient(bottom right, rgba(0,0,0,0), rgba(114, 0, 234, 1)); 
  	background: -moz-linear-gradient(bottom right, rgba(0,0,0,0), rgba(114, 0, 234, 1)); 
  	background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(114, 0, 234, 1)); 

}
main {
	width: 850px;
	margin: 35px auto 35px auto;
}
p {
	font-family: "Droid Serif", Serif;
	color: white;
	line-height: 26px;
	font-size: 15px;
	font-weight: 400;
}
body {
	text-align: center;
	margin: 0;
	background: #7200EA;
	background: -webkit-linear-gradient(left top, red, #7200EA); 
  	background: -o-linear-gradient(bottom right, red, #7200EA); 
  	background: -moz-linear-gradient(bottom right, red, #7200EA); 
  	background: linear-gradient(to bottom right, red, #7200EA); 
}
a {
	font-family: "Raleway", sans-serif;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0px 20px 0px 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}
h2 {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 15px;
}
h3 {
	font-family: "Raleway", sans-serif;
	color: #339966;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 25px;
}
img {
	margin: 40px, 8px;
}
span {
	color: white;
}
.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}
.message {
	font-family: "Raleway", sans-serif;
	float: right;
}
.slash{
	color: white;
	margin: 0 auto;
	font-size: 15px;
}

.link {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 15px;
	margin: 0 auto;
}
.friends {
	font-family: "Raleway", sans-serif;
	color: black;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 15px;
	margin: 0 auto;
}
.name {
	color: red;
	font-weight: 900;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
button {
	float: left;
}
footer {
	text-transform: uppercase;
	background-color: #7200EA;
	padding: 0 20px 0 20px;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}